@using EmployeeManagement.Infrastructure
@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Index Page";
}

<h3>@ViewData["Title"]</h3>

<div class="card-deck">
    @foreach (var employee in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h4>@employee.Name</h4>
            </div>

            <img class="card-img-top" src="~/images/profile.jpg" asp-append-version="true"/>
           
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>