@{
    ViewData["Title"] = "AccountLocked";
}

<h3 class="text-danger">
    Your account is locked, please try again after 15 minutes or you may
    <a asp-action="ForgotPassword" asp-controller="Account">reset your password by clicking here</a>
    ,<br/>
    <a asp-action="Login" asp-controller="Account">or go back to the login section</a>
</h3>