
@{
    ViewData["Title"] = "ChangePasswordConfirmation";
}

<h4>
    Your password is successfully changed.
    <a asp-action="Index" asp-controller="Home">Click here to go to the main page</a>
</h4>

