@{
    ViewData["Title"] = "RegisterSuccessful";
}

<h1 class="text-danger">@ViewBag.ErrorTitle</h1>

<h6 class="text-danger">@ViewBag.ErrorMessage</h6>

<a class="btn btn-danger" asp-controller="Home" asp-action="Index" style="width: auto">Click Here to go back to main page</a>